$yellow:  #FFEC00 !default;
$red:     #DF3535 !default;
$gray-100: #f1f5f9 !default;
$gray-600: #64748b !default;
$gray-900: #1e293b !default;
// $secondary:     $gray-600 
// $light:         $gray-100 ;
// $dark:          $gray-900 ;
@import "bootstrap/scss/bootstrap.scss";